


<body style="background-color: #ffffff;" yahoo="fix">



<meta name="title" content="Politics News and Analysis from The Washington Post" />
<meta name="description" content="Pure politics and nothing but. A daily digest of the best reporting and analysis from The Post's award-winning politics team." />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />

<title>Politics News and Analysis from The Washington Post</title>
<style type="text/css">
/* These clients will ignore the entire style element: Gmail Web, Gmail Android App, Win Mobile 7, Lotus Notes. */

body { 
background-color: #FFFFFF;
margin: 0; padding: 0;
width: 100% !important
}

/* Override default non-underlined links from Methode. */
a { text-decoration: underline !important; }

/* Outlook-specific table fix. */
td { border-collapse: collapse; }

/* Yahoo no paragraph margin fix. */
p { margin-bottom: 1em; }

/* Hotmail-specific fixes */
.ReadMsgBody { width: 100%; }
.ExternalClass { width: 100%; }
.ExternalClass, .ExternalClass div, .ExternalClass td, .ExternalClass p, .ExternalClass font { line-height: 100%; }

/* Default font settings based on Post style standards. Also H# fix for Hotmail. */
p, td, li { font-family: Arial, sans-serif; font-size: 13px; }
h1, h2, h3, h4, h5, h6 { 
color: #000000 !important; 
font-family: Georgia, serif; 
font-weight: bold; 
line-height: 100%; }

/* Mobile-specific styles: */
.mobonly { display: none; }
/* The display property is ignored in: Outlook 07/10 (not an issue for this usage), Gmail, Android Gmail app and Win Mobile 7 */

/* Yahoo mail reads the media query styles unless using the [attribute] notation. */
@media only screen and (max-device-width: 480px), only screen and (max-width: 480px) {
body[yahoo] .nomobile { display: none; }
body[yahoo] .mobonly { display: block; } 
body[yahoo] p, body[yahoo] td, body[yahoo] li { font-family: Arial, sans-serif; font-size: 20px; }
}

</style>

<!-- If you are seeing this message, you may have trouble viewing and interacting with this e-mail. Change your device's e-mail settings to view HTML in e-mail or request text-only e-mail from The Washington Post at http://help.washingtonpost.com. To view this e-mail in your device's browser, try the following link: http://view.ed4.net/v/YLCS8G/GK2304/18880DW/V1SKTF/ -->

<table id="bodyTable" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
<tr><td bgcolor="#FFFFFF" style="background-color: #FFFFFF; color: #FFFFFF; font-size: 10px;">Read this morning's top political news and commentary.</td></tr>
<tr><td align="center" bgcolor="#FFFFFF" valign="top">

<table id="outerTable" align="center" border="0" cellpadding="0" cellspacing="0" width="95%">
<tr>
<td align="right" bgcolor="#FFFFFF" valign="bottom"><img src="http://img.ed4.net/wpni_wpd/images/univ/spacer.gif" style="display: block;" /></td>
<td align="center" bgcolor="#FFFFFF" valign="bottom"><a
 href="http://link.email.washingtonpost.com/f/0xxx?meta_url_id=772fb62e-bf93-4c53-ace4-8ed0a54e0500&meta_message_url_id=12345000" rel="nofollow"
><img border="0" src="http://li.washingtonpost.com/imp?s=12467&amp;t=newsletter&amp;sz=728x91&amp;li=62198258&amp;e=dmccarthy@e-dialog.com&amp;p=20130404" style="display: block;" /></a></td>
<td align="left" bgcolor="#FFFFFF" valign="bottom"><img src="http://img.ed4.net/wpni_wpd/images/univ/spacer.gif" style="display: block;" /></td>
</tr>
<tr>
<td align="right" bgcolor="#FFFFFF" valign="top"><a
 href="http://link.email.washingtonpost.com/f/0xxx?meta_url_id=772fb62e-bf93-4c53-ace4-8ed0a54e0500&meta_message_url_id=12345000" rel="nofollow"
><img border="0" src="http://li.washingtonpost.com/imp?s=12468&amp;t=newsletter&amp;sz=160x601&amp;li=62198258&amp;e=dmccarthy@e-dialog.com&amp;p=20130404" style="display: block;" /></a></td>
<td align="center" bgcolor="#FFFFFF" valign="top">

<table id="innerTable" align="center" border="0" cellpadding="0" cellspacing="0" width="1">
<tr><td align="left" bgcolor="#FFFFFF" valign="top">
 
<table id="outerMast" align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="100%">
<tr><td align="right" bgcolor="#FFFFFF" style="color: #333333; font-family: Arial, sans-serif; font-size: 10px; padding-bottom: 5px; padding-top: 5px;" valign="middle"><a
 href="http://link.email.washingtonpost.com/f/0xxx?meta_url_id=772fb62e-bf93-4c53-ace4-8ed0a54e0500&meta_message_url_id=12345000" style="color: #333333"
>View on the Web</a>.</td></tr>
<tr><td>

<table id="innerMast" align="center" bgcolor="#222222" border="0" cellpadding="8" cellspacing="0" width="100%">
<tr>
<td align="left" bgcolor="#222222" style="background-color: #222222; color: #FFFFFF; font-family: Georgia, serif; font-size: 13px; text-align: left;" valign="middle"><a
 href="http://link.email.washingtonpost.com/f/0xxx?meta_url_id=772fb62e-bf93-4c53-ace4-8ed0a54e0500&meta_message_url_id=12345000"
><img alt="The Washington Post" border="0" src="http://img.ed4.net/wpni_wpd/images/logo/twp_180_wht_t_m.gif" style="display: block" /></a></td>
<td align="right" bgcolor="#222222" style="background-color: #222222; color: #FFFFFF; font-family: Georgia, serif; font-size: 12px; text-align: right;" valign="middle"><b>Thursday, April 4, 2013</b></td>
</tr>
</table>

</td></tr><tr><td align="left" bgcolor="#FFFFFF" style="background-color: #FFFFFF; color: #666666; font-family: Georgia, serif; font-size: 24px; font-weight: bold;" valign="middle"><a
 href="http://link.email.washingtonpost.com/f/0xxx?meta_url_id=772fb62e-bf93-4c53-ace4-8ed0a54e0500&meta_message_url_id=12345000" style="color: #666666;"
><img id="prodMast" alt="POLITICS NEWS AND ANALYSIS" border="0" src="http://img.ed4.net/wpni_wpd/images/mast/politicsnews.gif" style="display: block; max-width: 610px; width: 100%;" /></a></td></tr>
<tr><td bgcolor="#FFFFFF"><img border="0" src="http://img.ed4.net/wpni_wpd/images/univ/spacer20.gif" style="display:block" /></td></tr>
</table>
 

<table cellpadding="0" border="0" cellspacing="0" bgcolor="#FFFFFF" width="610" align="center">
	<!-- BEGINNING OF MAIN CONTENT AREA -->
	<!-- begin text -->

	<tr> 
		<td valign="top" width="600" align="left">
			<table cellpadding="0" cellspacing="0" width="100%">
				<tr>
					<td valign="top" width="300">
						<div style=" padding:10px 0; border-bottom:1px solid #E1E1E1;" class="module s7 img-border">		
		<div style="padding-bottom:10px;" class="padding-bottom">
						<a
 style="color:#000000;
	text-decoration: none;" href="http://link.email.washingtonpost.com/f/0xxx?meta_url_id=772fb62e-bf93-4c53-ace4-8ed0a54e0500&meta_message_url_id=12345000"
><img src="http://img.washingtonpost.com/rf/image_296w/2010-2019/WashingtonPost/2013/03/18/Web-Resampled/2013-03-18/AP1850844555965--296x209.jpg" style="padding:1px 1px 1px 1px;
	margin: 2px 5px 2px 1px;
	float: left;
	border:1px solid #E1E1E1;" alt="James Scales, left, and William Tasker react after participating in a wedding ceremony at City Hall in Baltimore, Tuesday, Jan. 1, 2013. Same-sex couples in Maryland are now legally permitted to marry under a new law that went into effect after midnight on Tuesday. Maryland is the first state south of the Mason-Dixon Line to approve same-sex marriage. (AP Photo/Patrick Semansky)" align="left" width="296"/></a>
						<div style="clear:both;" class="clear"> </div><p style="color: #000000;
    font-family: arial;
    font-size: 13px;
    font-weight: normal;
    line-height: normal;
    margin: 0;
    padding: 0;
    text-align: left;"/></div>
				<h2 style="padding-left:2px; font-size:20px; font-family: Georgia;"><a
 style="color:#000000;
	text-decoration: none;" href="http://link.email.washingtonpost.com/f/0xxx?meta_url_id=772fb62e-bf93-4c53-ace4-8ed0a54e0500&meta_message_url_id=12345000"
>Support for same-sex marriage reaches all-time high, poll finds</a></h2><p style="color: #000000;
    font-family: arial;
    font-size: 13px;
    font-weight: normal;
    line-height: normal;
    margin: 0;
    padding: 0;
    text-align: left;font-size:14px;
	margin:5px 0;
	color:#acacac;" class="byline">
				 David A. Fahrenthold and Jon Cohen <span id="ts_27419664384113562_1363699111748" class="timestamp pre" epochtime="1363657440000" contenttype="article" channel="wp.com/curated_newsletters"/></p>
			<p style="color: #000000;
    font-family: arial;
    font-size: 13px;
    font-weight: normal;
    line-height: normal;
    margin: 0;
    padding: 0;
    text-align: left;">A Post survey shows 58 percent of Americans now in favor; support grows across age, party affiliation.</p></div>
<div style=" padding:10px 0; border-bottom:1px solid #E1E1E1;padding-bottom:10px;" class="module padding-bottom s12 s12-family">
		
		<p style="color: #000000;
    font-family: arial;
    font-size: 13px;
    font-weight: normal;
    line-height: normal;
    margin: 0;
    padding: 0;
    text-align: left;padding-left:2px;
	padding-top:0;
	font-weight: bold;padding-left:2px; font-size:25px; font-family: Georgia;" class="heading heading2">Latest headlines</p><ul style="padding-left: 10px; 
	list-style-position:inside;font-weight: bold;
	font-family: arial;" class="normal">
			<li style="font-size:13px; 
	text-decoration: none; 
	color: rgb(0, 0, 0);
	line-height: normal;
	color: #067FC1;" class="first ">
		<a
 style="color:#000000;
	text-decoration: none;" class="icon link-type article " href="http://link.email.washingtonpost.com/f/0xxx?meta_url_id=772fb62e-bf93-4c53-ace4-8ed0a54e0500&meta_message_url_id=12345000"
>Republicans signal they will fight Obama’s nominee for labor secretary</a>
		</li>
<li style="font-size:13px; 
	text-decoration: none; 
	color: rgb(0, 0, 0);
	line-height: normal;
	color: #067FC1;">
		<a
 style="color:#000000;
	text-decoration: none;" class="icon link-type article " href="http://link.email.washingtonpost.com/f/0xxx?meta_url_id=772fb62e-bf93-4c53-ace4-8ed0a54e0500&meta_message_url_id=12345000"
>Dominican police: 3 women paid to make false claims about Menendez</a>
		</li>
<li style="font-size:13px; 
	text-decoration: none; 
	color: rgb(0, 0, 0);
	line-height: normal;
	color: #067FC1;">
		<a
 style="color:#000000;
	text-decoration: none;" class="icon link-type article " href="http://link.email.washingtonpost.com/f/0xxx?meta_url_id=772fb62e-bf93-4c53-ace4-8ed0a54e0500&meta_message_url_id=12345000"
>GOP announces self-help plan</a>
		</li>
<li style="font-size:13px; 
	text-decoration: none; 
	color: rgb(0, 0, 0);
	line-height: normal;
	color: #067FC1;">
		<a
 style="color:#000000;
	text-decoration: none;" class="icon link-type article " href="http://link.email.washingtonpost.com/f/0xxx?meta_url_id=772fb62e-bf93-4c53-ace4-8ed0a54e0500&meta_message_url_id=12345000"
>Gun-control groups turn focus to NRA-backed ‘riders’</a>
		</li>
<li style="font-size:13px; 
	text-decoration: none; 
	color: rgb(0, 0, 0);
	line-height: normal;
	color: #067FC1;">
		<a
 style="color:#000000;
	text-decoration: none;" class="icon link-type article " href="http://link.email.washingtonpost.com/f/0xxx?meta_url_id=772fb62e-bf93-4c53-ace4-8ed0a54e0500&meta_message_url_id=12345000"
>Supreme Court appears split on voter registration requirements</a>
		</li>
<li style="font-size:13px; 
	text-decoration: none; 
	color: rgb(0, 0, 0);
	line-height: normal;
	color: #067FC1;">
		<a
 style="color:#000000;
	text-decoration: none;" class="icon link-type article " href="http://link.email.washingtonpost.com/f/0xxx?meta_url_id=772fb62e-bf93-4c53-ace4-8ed0a54e0500&meta_message_url_id=12345000"
>Congress takes a bipartisan position against military cuts, public interests</a>
		</li>
<li style="font-size:13px; 
	text-decoration: none; 
	color: rgb(0, 0, 0);
	line-height: normal;
	color: #067FC1;">
		<a
 style="color:#000000;
	text-decoration: none;" class="icon link-type article " href="http://link.email.washingtonpost.com/f/0xxx?meta_url_id=772fb62e-bf93-4c53-ace4-8ed0a54e0500&meta_message_url_id=12345000"
>Report finds ‘many obstacles’ for black federal employees</a>
		</li>
<li style="font-size:13px; 
	text-decoration: none; 
	color: rgb(0, 0, 0);
	line-height: normal;
	color: #067FC1;" class=" last">
		<a
 style="color:#000000;
	text-decoration: none;" class="icon link-type article " href="http://link.email.washingtonpost.com/f/0xxx?meta_url_id=772fb62e-bf93-4c53-ace4-8ed0a54e0500&meta_message_url_id=12345000"
>Yellowstone to open some entrances on time, thanks to local effort</a>
		</li>
</ul>
		</div>

<div style=" padding:10px 0; border-bottom:1px solid #E1E1E1;" class="module s1-2 img-border">
	<h2 style="padding-left:2px; font-size:20px; font-family: Georgia;">The Fix</h2>
	<table cellpadding="0" border="0" cellspacing="0" width="300">
		<tr><td valign="top" width="94"><img class="left margin-right-5" src="http://img.washingtonpost.com/rf/image_90x60/WashingtonPost/Content/Staff-Bio/Images/chris-cillizza-114x80.png" height="60" style="padding:1px 1px 1px 1px;
	margin: 2px 5px 2px 1px;
	float: left;
	border:1px solid #E1E1E1;float:left;margin-right:5px;" width="90" align="left"/></td>
				<td valign="top"><ul style="padding-left: 10px; 
	list-style-position:inside;font-weight: bold;
	font-family: arial;" class="normal">
			<li style="font-size:13px; 
	text-decoration: none; 
	color: rgb(0, 0, 0);
	line-height: normal;
	color: #067FC1;">
					<a
 style="color:#000000;
	text-decoration: none;" href="http://link.email.washingtonpost.com/f/0xxx?meta_url_id=772fb62e-bf93-4c53-ace4-8ed0a54e0500&meta_message_url_id=12345000"
>Fallon on the GOP and March Madness</a>
				</li>
			<li style="font-size:13px; 
	text-decoration: none; 
	color: rgb(0, 0, 0);
	line-height: normal;
	color: #067FC1;">
					<a
 style="color:#000000;
	text-decoration: none;" href="http://link.email.washingtonpost.com/f/0xxx?meta_url_id=772fb62e-bf93-4c53-ace4-8ed0a54e0500&meta_message_url_id=12345000"
>The declining influence of the political media</a>
				</li>
			<li style="font-size:13px; 
	text-decoration: none; 
	color: rgb(0, 0, 0);
	line-height: normal;
	color: #067FC1;">
					<a
 style="color:#000000;
	text-decoration: none;" href="http://link.email.washingtonpost.com/f/0xxx?meta_url_id=772fb62e-bf93-4c53-ace4-8ed0a54e0500&meta_message_url_id=12345000"
>The 10 things you need to know from GOP autopsy</a>
				</li>
			</ul></td></tr>
			</table>
</div>
<!--/s1-2--><div style=" padding:10px 0; border-bottom:1px solid #E1E1E1;padding-bottom:10px;" class="module padding-bottom s12 s12-family">
		
		<p style="color: #000000;
    font-family: arial;
    font-size: 13px;
    font-weight: normal;
    line-height: normal;
    margin: 0;
    padding: 0;
    text-align: left;padding-left:2px;
	padding-top:0;
	font-weight: bold;padding-left:2px; font-size:25px; font-family: Georgia;" class="heading heading2">Opinions</p><ul style="padding-left: 10px; 
	list-style-position:inside;font-weight: bold;
	font-family: arial;" class="normal">
			<li style="font-size:13px; 
	text-decoration: none; 
	color: rgb(0, 0, 0);
	line-height: normal;
	color: #067FC1;" class="first ">
		<a
 style="color:#000000;
	text-decoration: none;" class="icon link-type article " href="http://link.email.washingtonpost.com/f/0xxx?meta_url_id=772fb62e-bf93-4c53-ace4-8ed0a54e0500&meta_message_url_id=12345000"
>Signs of GOP life?</a>
		</li>
<li style="font-size:13px; 
	text-decoration: none; 
	color: rgb(0, 0, 0);
	line-height: normal;
	color: #067FC1;">
		<a
 style="color:#000000;
	text-decoration: none;" class="icon link-type article " href="http://link.email.washingtonpost.com/f/0xxx?meta_url_id=772fb62e-bf93-4c53-ace4-8ed0a54e0500&meta_message_url_id=12345000"
>Deadly delay on Syria</a>
		</li>
<li style="font-size:13px; 
	text-decoration: none; 
	color: rgb(0, 0, 0);
	line-height: normal;
	color: #067FC1;">
		<a
 style="color:#000000;
	text-decoration: none;" class="icon link-type article " href="http://link.email.washingtonpost.com/f/0xxx?meta_url_id=772fb62e-bf93-4c53-ace4-8ed0a54e0500&meta_message_url_id=12345000"
>The risks of U.S. retreat</a>
		</li>
<li style="font-size:13px; 
	text-decoration: none; 
	color: rgb(0, 0, 0);
	line-height: normal;
	color: #067FC1;" class=" last">
		<a
 style="color:#000000;
	text-decoration: none;" class="icon link-type article " href="http://link.email.washingtonpost.com/f/0xxx?meta_url_id=772fb62e-bf93-4c53-ace4-8ed0a54e0500&meta_message_url_id=12345000"
>A tale of two House budgets</a>
		</li>
</ul>
		</div>

<div style=" padding:10px 0; border-bottom:1px solid #E1E1E1;" class="module s7 img-border">		
		<p style="color: #000000;
    font-family: arial;
    font-size: 13px;
    font-weight: normal;
    line-height: normal;
    margin: 0;
    padding: 0;
    text-align: left;padding-left:2px;
	padding-top:0;
	font-weight: bold;padding-left:2px; font-size:25px; font-family: Georgia;" class="heading heading2">INTERACTIVE</p><div style="padding-bottom:10px;" class="padding-bottom">
						<a
 style="color:#000000;
	text-decoration: none;" href="http://link.email.washingtonpost.com/f/0xxx?meta_url_id=772fb62e-bf93-4c53-ace4-8ed0a54e0500&meta_message_url_id=12345000"
><img src="http://img.washingtonpost.com/rf/image_296w/2010-2019/WashingtonPost/2013/03/07/Production/Digital/politics/Images/162852418-034.jpg" style="padding:1px 1px 1px 1px;
	margin: 2px 5px 2px 1px;
	float: left;
	border:1px solid #E1E1E1;" alt="NEW YORK, NY - FEBRUARY 28: People wait in a security line at John F. Kennedy Airport on February 28, 2013 in New York City. Should the $85 billion in automatic federal budget cuts, known as the sequester, go into effect Friday as scheduled, airport control towers in a number of states could close, putting pilots and staff members at risk. In addition to the closed control towers, Transportation Security Administration (TSA) workers could be furloughed, 
leading to long waits and confusion at many airport security checkpoints.  (Photo by Spencer Platt/Getty Images)" align="left" width="296"/></a>
						<div style="clear:both;" class="clear"> </div><p style="color: #000000;
    font-family: arial;
    font-size: 13px;
    font-weight: normal;
    line-height: normal;
    margin: 0;
    padding: 0;
    text-align: left;"/></div>
				<h2 style="padding-left:2px; font-size:20px; font-family: Georgia;"><a
 style="color:#000000;
	text-decoration: none;" href="http://link.email.washingtonpost.com/f/0xxx?meta_url_id=772fb62e-bf93-4c53-ace4-8ed0a54e0500&meta_message_url_id=12345000"
>How are the sequester cuts affecting you?</a></h2><p style="color: #000000;
    font-family: arial;
    font-size: 13px;
    font-weight: normal;
    line-height: normal;
    margin: 0;
    padding: 0;
    text-align: left;font-size:14px;
	margin:5px 0;
	color:#acacac;" class="byline">
				</p>
			<p style="color: #000000;
    font-family: arial;
    font-size: 13px;
    font-weight: normal;
    line-height: normal;
    margin: 0;
    padding: 0;
    text-align: left;">President Obama and congressional leaders failed to reach an agreement to avoid the steep budget cuts known as the sequester. Share your story on how the cuts are impacting you.</p></div>
</td>
					<td valign="top" class="noformat" width="300">
<table id="outerAd1" align="right" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="1">
<tr>
<td bgcolor="#FFFFFF"><img border="0" src="http://img.ed4.net/wpni_wpd/images/univ/spacer10.gif" style="display: block;" /></td>
<td>

<table id="innerAd1" align="right" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="1">
<tr><td align="center" style="font-size: 10px; color: #666666;" valign="middle"><img src="http://img.ed4.net/wpni_wpd/images/univ/adv.gif" alt="Advertisement" style="display: block; padding-bottom: 3px; padding-top: 3px;" /></td></tr>
<tr><td><a
 href="http://link.email.washingtonpost.com/f/0xxx?meta_url_id=772fb62e-bf93-4c53-ace4-8ed0a54e0500&meta_message_url_id=12345000" rel="nofollow"
><img border="0" src="http://li.washingtonpost.com/imp?s=12474&t=newsletter&sz=300x250&li=62198258&e=dmccarthy@e-dialog.com&p=20130404" style="display: block;" /></a></td></tr>
<tr><td>

<table id="adTracking1" align="right" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td><img border="0" src="http://li.washingtonpost.com/imp?s=37291&t=newsletter&sz=1x1&li=62198258&e=dmccarthy@e-dialog.com&p=20130404" style="display: block;" /></td>
<td><img border="0" src="http://li.washingtonpost.com/imp?s=37292&t=newsletter&sz=1x1&li=62198258&e=dmccarthy@e-dialog.com&p=20130404" style="display: block;" /></td>
</tr>
<tr>
<td align="left" valign="top"><a
 href="http://link.email.washingtonpost.com/f/0xxx?meta_url_id=772fb62e-bf93-4c53-ace4-8ed0a54e0500&meta_message_url_id=12345000" rel="nofollow"
><img border="0" src="http://li.washingtonpost.com/imp?s=1909&t=newsletter&sz=116x15&li=62198258&e=dmccarthy@e-dialog.com&p=20130404" style="display: block;" /></a></td>
<td align="right" valign="top"><a
 href="http://link.email.washingtonpost.com/f/0xxx?meta_url_id=772fb62e-bf93-4c53-ace4-8ed0a54e0500&meta_message_url_id=12345000" rel="nofollow"
><img border="0" src="http://li.washingtonpost.com/imp?s=1910&t=newsletter&sz=69x15&li=62198258&e=dmccarthy@e-dialog.com&p=20130404" style="display: block;" /></a></td>
</tr>
</table>

</td></tr>
<tr><td><img border="0" src="http://img.ed4.net/wpni_wpd/images/univ/spacer10.gif" style="display: block;" /></td></tr>
<tr><td bgcolor="#FFFFFF" class="nomobile"><map name="adsonar_map_1466347_19309228"><area
 href="http://link.email.washingtonpost.com/f/0xxx?meta_url_id=772fb62e-bf93-4c53-ace4-8ed0a54e0500&meta_message_url_id=12345000" coords="0,0,300,72" shape="rect"
><area
 href="http://link.email.washingtonpost.com/f/0xxx?meta_url_id=772fb62e-bf93-4c53-ace4-8ed0a54e0500&meta_message_url_id=12345000" coords="0,72,300,144" shape="rect"
><area
 href="http://link.email.washingtonpost.com/f/0xxx?meta_url_id=772fb62e-bf93-4c53-ace4-8ed0a54e0500&meta_message_url_id=12345000" coords="0,144,300,216" shape="rect"
><area
 href="http://link.email.washingtonpost.com/f/0xxx?meta_url_id=772fb62e-bf93-4c53-ace4-8ed0a54e0500&meta_message_url_id=12345000" coords="0,216,300,288" shape="rect"
><area
 href="http://link.email.washingtonpost.com/f/0xxx?meta_url_id=772fb62e-bf93-4c53-ace4-8ed0a54e0500&meta_message_url_id=12345000" coords="0,288,300,300" shape="rect"
></map><img src="http://newsletter.adsonar.com/nwrss/imgs/nwr_1466347_19309228_451054_1765767_4_2.PNG?placementId=1466347&plid=451054&pid=1765767&ps=19309228&rotation=4&type=2&zw=300&zh=300&v=5&url=NA&uid=" width="300" height="300" border="0" usemap="#adsonar_map_1466347_19309228" /></td></tr>
<tr><td class="nomobile"><img border="0" src="http://img.ed4.net/wpni_wpd/images/univ/spacer10.gif" style="display: block;" /></td></tr>
</table>

</td></tr>
<tr><td bgcolor="#FFFFFF" colspan="2"><img border="0" src="http://img.ed4.net/wpni_wpd/images/univ/spacer15.gif" style="display: block;" /></td></tr>
</table> 
<table id="promo1" class="nomobile" style="clear: right;" border="0" cellspacing="0" cellpadding="0" width="1" align="right" bgcolor="#FFFFFF">
<tr>
<td><img style="display: block;" src="http://img.ed4.net/wpni_wpd/images/univ/spacer10.gif" border="0" /></td>
<td><a
 href="http://link.email.washingtonpost.com/f/0xxx?meta_url_id=772fb62e-bf93-4c53-ace4-8ed0a54e0500&meta_message_url_id=12345000"
><img style="display: block;" src="http://img.ed4.net/wpni_wpd/images/promo/fix.gif" border="0" alt="Today's Fix: the who and what of politics. The daily e-mail companion to The Fix blog from Chris Cillizza and the Fix team. Sign up for Today's Fix now: http://bit.ly/fixnl" /></a></td>
</tr>
<tr>
<td colspan="2"><img style="display: block;" src="http://img.ed4.net/wpni_wpd/images/univ/spacer20.gif" border="0" /></td>
</tr>
</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td valign="top" class="noformat" width="600">
<table id="ad2" align="left" bgcolor="#FFFFFF" cellpadding="0" cellspacing="0" style="clear: both;" width="1">
<tr><td bgcolor="#FFFFFF"><img border="0" src="http://img.ed4.net/wpni_wpd/images/univ/spacer20.gif" style="display: block;" /></td></tr>
<tr><td align="left" bgcolor="#FFFFFF" style="color: #666666; font-size: 10px; "><img alt="Advertisement" src="http://img.ed4.net/wpni_wpd/images/univ/adv.gif" style="display: block; padding-bottom: 3px; padding-top: 3px;" /></td></tr>
<tr><td align="left" bgcolor="#FFFFFF"><map name="adsonar_map_1466346_19309227"><area
 href="http://link.email.washingtonpost.com/f/0xxx?meta_url_id=772fb62e-bf93-4c53-ace4-8ed0a54e0500&meta_message_url_id=12345000" coords="0,0,400,62" shape="rect"
><area
 href="http://link.email.washingtonpost.com/f/0xxx?meta_url_id=772fb62e-bf93-4c53-ace4-8ed0a54e0500&meta_message_url_id=12345000" coords="0,62,400,124" shape="rect"
><area
 href="http://link.email.washingtonpost.com/f/0xxx?meta_url_id=772fb62e-bf93-4c53-ace4-8ed0a54e0500&meta_message_url_id=12345000" coords="0,124,400,186" shape="rect"
><area
 href="http://link.email.washingtonpost.com/f/0xxx?meta_url_id=772fb62e-bf93-4c53-ace4-8ed0a54e0500&meta_message_url_id=12345000" coords="0,186,400,198" shape="rect"
></map><img src="http://newsletter.adsonar.com/nwrss/imgs/nwr_1466346_19309227_451054_1765767_4_2.PNG?placementId=1466346&plid=451054&pid=1765767&ps=19309227&rotation=4&type=2&zw=400&zh=200&v=5&url=NA&uid=" width="400" height="200" border="0" usemap="#adsonar_map_1466346_19309227" /></td></tr>
<tr><td bgcolor="#FFFFFF"><img border="0" src="http://img.ed4.net/wpni_wpd/images/univ/spacer20.gif" style="display: block;" /></td></tr>
</table>
 
<table id="promo2" style="clear: both;" border="0" cellspacing="0" cellpadding="8" width="100%" align="left">
<tr>
<td bgcolor="#FFFFFF"><img style="display: block;" src="http://img.ed4.net/wpni_wpd/images/univ/spacer20.gif" border="0" alt="" /></td>
</tr>
<tr>
<td style="font-family: Georgia, serif; font-size: 12px; font-weight: bold;" bgcolor="#F1F1F1">Follow Washington Post Politics:</td>
</tr>
<tr>
<td style="color: #000000; font-family: Arial, sans-serif; font-size: 11px; " align="left" valign="middle" bgcolor="#F1F1F1"><a
 href="http://link.email.washingtonpost.com/f/0xxx?meta_url_id=772fb62e-bf93-4c53-ace4-8ed0a54e0500&meta_message_url_id=12345000" target="_blank"
><img style="display: inline;" src="http://img.ed4.net/wpni_wpd/images/socl/fb_25.gif" border="0" alt="Facebook" align="absmiddle" /></a>&nbsp;&nbsp;&nbsp;<a
 href="http://link.email.washingtonpost.com/f/0xxx?meta_url_id=772fb62e-bf93-4c53-ace4-8ed0a54e0500&meta_message_url_id=12345000" target="_blank"
><img style="display: inline;" src="http://img.ed4.net/wpni_wpd/images/socl/twtr_25_rev.gif" border="0" alt="Twitter" align="absmiddle" /></a></td>
</tr>
</table> 
		</td>
	</tr>
  
<!-- end text --><!-- END OF MAIN CONTENT AREA -->
</table><!-- End Content Table 600px Width --><!-- END PRODUCT-SPECIFIC CONTENT -->

<table id="footer" style="clear: both;" border="0" cellspacing="0" cellpadding="6" width="100%" align="center" bgcolor="#222222">
<tr>
<td colspan="3" bgcolor="#222222"><img style="display: block;" src="http://img.ed4.net/wpni_wpd/images/univ/spacer10.gif" border="0" alt="" /></td>
</tr>
<tr>
<td style="background-color: #222222; color: #CCCCCC; font-size: 11px;" colspan="3" align="left" valign="middle" bgcolor="#222222"><a
 href="http://link.email.washingtonpost.com/f/0xxx?meta_url_id=772fb62e-bf93-4c53-ace4-8ed0a54e0500&meta_message_url_id=12345000" style="color: #CCCCCC"
>Unsubscribe</a></td>
</tr>
<tr>
<td style="background-color: #222222; color: #797979; font-size: 11px;" align="left" valign="bottom" bgcolor="#222222">&copy;2013 The Washington Post<br />1150 15th St NW Washington, DC 20071</td>
<td style="background-color: #222222; color: #797979; font-size: 11px;" align="right" valign="bottom" bgcolor="#222222"><a
 href="http://link.email.washingtonpost.com/f/0xxx?meta_url_id=772fb62e-bf93-4c53-ace4-8ed0a54e0500&meta_message_url_id=12345000" style="color: #797979"
>Help & Contact Info</a></td>
<td style="background-color: #222222; color: #797979; font-size: 11px;" align="right" valign="bottom" bgcolor="#222222"><a
 href="http://link.email.washingtonpost.com/f/0xxx?meta_url_id=772fb62e-bf93-4c53-ace4-8ed0a54e0500&meta_message_url_id=12345000" style="color: #797979"
>Privacy Policy</a></td>
</tr>
</table> 

</td></tr></table>
<!-- End innerTable -->

</td>
<td align="left" bgcolor="#FFFFFF" valign="top">

<table id="takeoverRight" align="left" border="0" cellpadding="0" cellspacing="0" width="1">
<tr><td align="left" bgcolor="#FFFFFF" colspan="2" valign="top"><a
 href="http://link.email.washingtonpost.com/f/0xxx?meta_url_id=772fb62e-bf93-4c53-ace4-8ed0a54e0500&meta_message_url_id=12345000" rel="nofollow"
><img border="0" src="http://li.washingtonpost.com/imp?s=12469&amp;t=newsletter&amp;sz=300x601&amp;li=62198258&amp;e=dmccarthy@e-dialog.com&amp;p=20130404" style="display: block;" /></a></td></tr>
<tr>
<td bgcolor="#FFFFFF"><img border="0" src="http://li.washingtonpost.com/imp?s=12470&amp;t=newsletter&amp;sz=1x1&amp;li=62198258&amp;e=dmccarthy@e-dialog.com&amp;p=20130404" style="display: block;" /></td>
<td bgcolor="#FFFFFF"><img border="0" src="http://li.washingtonpost.com/imp?s=12471&amp;t=newsletter&amp;sz=1x1&amp;li=62198258&amp;e=dmccarthy@e-dialog.com&amp;p=20130404" style="display: block;" /></td>
</tr>
<tr>
<td bgcolor="#FFFFFF"><a
 href="http://link.email.washingtonpost.com/f/0xxx?meta_url_id=772fb62e-bf93-4c53-ace4-8ed0a54e0500&meta_message_url_id=12345000" rel="nofollow"
><img border="0" src="http://li.washingtonpost.com/imp?s=12473&amp;t=newsletter&amp;sz=116x15&amp;li=62198258&amp;e=dmccarthy@e-dialog.com&amp;p=20130404" style="display: block;" /></a></td>
<td bgcolor="#FFFFFF"><a
 href="http://link.email.washingtonpost.com/f/0xxx?meta_url_id=772fb62e-bf93-4c53-ace4-8ed0a54e0500&meta_message_url_id=12345000" rel="nofollow"
><img border="0" src="http://li.washingtonpost.com/imp?s=12472&amp;t=newsletter&amp;sz=69x15&amp;li=62198258&amp;e=dmccarthy@e-dialog.com&amp;p=20130404" style="display: block;" /></a></td>
</tr>
</table>

</td>
</tr>
</table>
<!-- End outerTable -->

</td></tr>
<tr>
<td bgcolor="#FFFFFF" style="background-color: #FFFFFF; color: #FFFFFF; font-size: 8px;"><a
 href="http://link.email.washingtonpost.com/f/0xxx?meta_url_id=772fb62e-bf93-4c53-ace4-8ed0a54e0500&meta_message_url_id=12345000" style="color: #FFFFFF; text-decoration: none;"
><span style="color: #FFFFFF; text-decoration: none;">dmccarthy@e-dialog.com</span></a></td>
</tr></table>
<!-- End bodyTable -->

<img border="0" src="http://li.washingtonpost.com/imp?s=18611&amp;t=newsletter&amp;sz=2x1&amp;li=62198258&amp;e=dmccarthy@e-dialog.com&amp;p=20130404" />
<img border="0" src="http://li.washingtonpost.com/imp?s=18612&amp;t=newsletter&amp;sz=2x1&amp;li=62198258&amp;e=dmccarthy@e-dialog.com&amp;p=20130404" />
<img border="0" src="http://li.washingtonpost.com/imp?s=18613&amp;t=newsletter&amp;sz=2x1&amp;li=62198258&amp;e=dmccarthy@e-dialog.com&amp;p=20130404" />
<img border="0" src="http://li.washingtonpost.com/imp?s=18614&amp;t=newsletter&amp;sz=2x1&amp;li=62198258&amp;e=dmccarthy@e-dialog.com&amp;p=20130404" />
<img border="0" src="http://li.washingtonpost.com/imp?s=18615&amp;t=newsletter&amp;sz=2x1&amp;li=62198258&amp;e=dmccarthy@e-dialog.com&amp;p=20130404" />
<img border="0" src="http://li.washingtonpost.com/imp?s=18616&amp;t=newsletter&amp;sz=2x1&amp;li=62198258&amp;e=dmccarthy@e-dialog.com&amp;p=20130404" />
<img border="0" src="http://li.washingtonpost.com/imp?s=18617&amp;t=newsletter&amp;sz=2x1&amp;li=62198258&amp;e=dmccarthy@e-dialog.com&amp;p=20130404" />
<img border="0" src="http://li.washingtonpost.com/imp?s=18618&amp;t=newsletter&amp;sz=2x1&amp;li=62198258&amp;e=dmccarthy@e-dialog.com&amp;p=20130404" />
<img border="0" src="http://li.washingtonpost.com/imp?s=18619&amp;t=newsletter&amp;sz=2x1&amp;li=62198258&amp;e=dmccarthy@e-dialog.com&amp;p=20130404" />
<img border="0" src="http://li.washingtonpost.com/imp?s=18620&amp;t=newsletter&amp;sz=2x1&amp;li=62198258&amp;e=dmccarthy@e-dialog.com&amp;p=20130404" />
<img border="0" src="http://li.washingtonpost.com/imp?s=18621&amp;t=newsletter&amp;sz=2x1&amp;li=62198258&amp;e=dmccarthy@e-dialog.com&amp;p=20130404" />
<img border="0" src="http://li.washingtonpost.com/imp?s=18622&amp;t=newsletter&amp;sz=2x1&amp;li=62198258&amp;e=dmccarthy@e-dialog.com&amp;p=20130404" />

<!-- [[YLCS8G-GK2304-26TOIN-RNI5P9-56PDFI-H-M2-20130404-f29fcde4cca3531]] --><img height="1" width="1" src="http://link.email.washingtonpost.com/o/YLCS8G/26TOIN/RNI5P9/56PDFI/NROR/52"></body>

